.animate-show {

}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide-add {
    -webkit-animation: fadeInUp 1s;
    -moz-animation: fadeInUp 1s;
    -ms-animation: fadeInUp 1s;
    -o-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    opacity: 1;
}

.animate-show.ng-hide-remove {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    -o-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
    opacity: 1;
}

