<div ng-init="inicio()" class="form-box" id="login-box">
    
    <div class="imagen">
        <img src="img/daseda.png" alt="">
    </div>
    <div class="header">Inicia Sesion</div>
    <form ng-submit="iniciar()" novalidate>
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" ng-model="username" name="userid" class="form-control" placeholder="Nombre de Usuario" required/>
            </div>
            <div class="form-group">
                <input type="password" ng-model="password" name="password" class="form-control" placeholder="Contraseña" required/>
            </div>          
        </div>
        <div class="footer">                                                               
            <button type="submit" class="btn btn-default btn-block">Iniciar Sesion</button>  
        </div>
    </form>
    <br>
    <div ng-hide=" mensaje == '' " class="alert alert-warning alert-dismissable">
        <i class="fa fa-warning"></i>
        {{mensaje}}
    </div>
    <div class="margin text-center">
        <span>Sistema elaborado por Dipimedia derechos reservados</span>
        <br>
        <br>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
    </div>
</div>
