<div ng-init="inicio()" class="contenedor">
	<section class="cabecera">
        <h1>{{tituloPV}}</h1>
    </section>
	<section class="cuerpo">
		<div class="row">
			<div class="col-md-1">
				<a ng-href="#/nuevo/provedor" class="btn btn-app">
                    <i class="fa fa-plus-square"></i> Nuevo
                </a>
			</div>
			<div class="col-md-1">
				<a class="btn btn-app">
                    <i class="fa fa-cloud-upload"></i> Importar
                </a>
			</div>
			<div class="col-md-1">
				<a class="btn btn-app">
                    <i class="fa fa-arrow-circle-down"></i> Exportar
                </a>
			</div>
		</div>
		<div class="box box-primary">
            <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                <h3 class="box-title">Provedores Registrados</h3>
            </div>
            
        </div>
	</section>
</div>